.finish{
    background:#eee;
    height:700px;
}
.finish .container{
    width:80%;
    margin:0 auto;
    background-image: url("../img/yamanote.jpg");
    background-size: cover;
    height:100%;
    opacity:0.6;
    text-align:center;
}
.finish .btn{
    display: inline-block;
    background:lightblue;
    color:#333;
    width:30%;
    height: 1.8%;
    padding:20px 0;
    border-radius: 10px;
    position: absolute;
    top: 500px;
    line-height:20px;
    text-align: center;
    left: 15%;
}
.finish .btn1{
    display: inline-block;
    background:lightblue;
    color:#333;
    width:30%;
    height: 1.8%;
    padding:20px 0;
    border-radius: 10px;
    position: absolute;
    top: 500px;
    line-height:20px;
    text-align: center;
    right: 15%;
}
.finish input{
    height:20px;
    width:40%;
    font-size:20px;
    border-radius:10px;
}
.finish .name{
    position:relative;
    top:60px;
    width: 60%;
    left: 20%;
}
.finish .top{
    text-align:center;
    font-size:80px;
    padding-top: 10%;
    position:relative;
    z-index:-10;
    transition: 1s;
}

.finish .top{
    font-size:30px;
    font-weight:bold;

}

.finish p{
    font-size:20px;
    font-weight:bold;
    /* color:lightgreen; */
}