.ranking{
    background:#eee;
    height: 700px;
}
.ranking .container{
    width:80%;
    margin:0 auto;
    background-image: url("../img/hyoushoudai1.png");
   
    background-size: cover;
    height:100%;
    /* opacity:0.6; */
    background-color:rgba(0,0,0,30%)
}

.ranking p{
    color:#111;
    font-size:20px;
    margin-bottom:20px;
}

.ranking .btn{

    display: inline-block;
    background:lightblue;
    color:#333;
    height: 5.6%;
    padding:20px 0;
    border-radius: 10px;
    width:40%;
    line-height:5.6%;
    text-align: center;

}