@media screen and (max-width:480px) {
    #nav-open {
      display:none;
    }
    .main .top{
      font-size:30px;
    }
    .main .name{
      width: 100%;
      left: 0;
    }

    .problem .title{

      font-size: 20px;
    }

    .problem .select{
      width:40%;
      display:inline-block;
    }
}