.result .top{
    padding-top:60px;

}
.result{
    background:#eee;
    height:700px;
}
.result .container{
    width:80%;
    margin:0 auto;
    background-image: url("../img/yamanote.jpg");
    background-size: cover;
    height:100%;
    opacity:0.6;
}
.result .btn{
    margin-top:40px;
    width:100%;
    text-align:center;
    background-color:green;
    border:1px solid tomato;
    border-radius:30px;
    font-size:20px;
}.hidden{
    color:none;
}
.result h3{
    background-color: white;
    color:#333;
    font-size:20px;
    letter-spacing:10px;
    margin: 0;
}

.result .corrent{
    color:red;
}

.result .noncorrent{
    color:blue;
}