/* 共通css */
body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

li{
    list-style:none;
}

a{
    color:#333;
    text-decoration: none;
}
a:hover{
    color:skyblue;
    font-weight: bold;
}

ul{
    margin:0;
}

p{
    margin:0;
}